assignment_template/.DS_Store
assignment_template/.DS_Store
.DS_Store
assignment_template/__pycache__/Analysis.cpython-311.pyc
assignment_template/__pycache__/test_Analysis.cpython-311-pytest-8.0.0.pyc
